@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

/*global*/

* {
    box-sizing: border-box;
}

h1, h2, h3, p, span, a, div.accordion, small {
    font-family: 'Montserrat', sans-serif;
    font-weight:400!important;
}

.bold {
    font-weight:700!important;
}

.extra-bold {
    font-weight:800!important;    
}

body{
    padding: 0;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none
}

.black {
    color:#000!important;
}

/**/

div.clickEffect{
	position:fixed;
	box-sizing:border-box;
	border-style:solid;
	border-color:#000000;
	border-radius:50%;
	animation:clickEffect 0.4s ease-out;
	z-index:99999;
}

@keyframes clickEffect{
	0%{
		opacity:1;
		width:0.5em; height:0.5em;
		margin:-0.25em;
		border-width:0.5rem;
	}
	100%{
		opacity:0.2;
		width:15em; height:15em;
		margin:-7.5em;
		border-width:0.03rem;
	}
}

/*preloader start*/
@keyframes fadeIn {
    
     from {
     opacity: 0;
    }
     to {
     opacity: 1;
    }
    
}

@-webkit-keyframes fadeIn {
    
     from {
     opacity: 0;
    }
     to {
     opacity: 1;
    }
    
}

#overlay-container {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
}

#overlay {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 99999;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#overlay-spinner {
    margin: 10px 130px;
    width: 30px;
    height: 30px; 
    border-radius:200px;
    border-left: 3px solid #e9467b;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    
  from {
    -webkit-transform:rotate(0deg);
  }

  to {
    -webkit-transform:rotate(360deg);
  }
    
}
/*end*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e9467b;
    border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e9467b;
}

.fixed-menu-mobile {
    position: fixed;
    z-index: 9999;
    top: 0;
    width:100%;
    background-color:#fff;
    height: 50px;    
    transition: all 0.5s ease-out 0s!important;
}

.padding-scroll-menu {
    padding:10px 50px!important;
}

.margin-scroll-menu {
    margin: 0px!important; 
    margin-right: 5px!important;
}

#progressbar {
    height: 2px;
    background-color: #e9467b;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
}

#mainslide {
    background-image: url(../img/main-slide.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-size:cover;
}

#mainslide h1 {
    text-align: center;
    font-size: 41px;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    margin: 10px;
    float: left;
}

#logo img.logo-white {
    width:200px;
}

#nav {
    float: right;
    margin: 10px;
}

#nav ul li a {
    padding: 15px 50px;
    background-color: #e9467b;
    color: #fff;
    text-transform: uppercase;
    border-radius:5px;
    font-weight: bold;
}

p.subheading {
    text-align:center;
    font-size:17px;
    color:#fff;
}

#mainslide .slide-wrapper {
    padding: 15% 0;
}

a.insta-button-white {
    padding: 20px 80px;
    text-align:center;
    background-color: #fff;
    color: #e9467b;
    text-transform: uppercase;
    font-size: 22px;
    border-radius:5px;
    font-weight: bold;
}

.insta-button {
    margin: 40px auto;
    text-align: center;
    position: relative;
    width: 320px;
}

.insta-button-img {
    position: absolute;
    top: -45px;
    right: 25px;
}

.divider {
    width:300px;
    height: 2px;
    background-color: #e9467b;
    margin:20px auto;
}

#description h2 {
    text-align: center;
    font-size: 41px;
    color: #000;
    margin: 0;
}

#description p.subheading {
    text-align:center;
    font-size:17px;
    color:#000;    
}

#description .slide-wrapper {
    padding-top: 20%;
    padding-bottom: 20%;
}

#description {
    background-image: url(../img/service-description.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    margin: 0 auto;
}

strong {
    color:#e9467b;
}

.left-block {
    float:left;
    width: 51%;
    padding: 50px;
}

#description .slide-description-wrapper {
    padding-top: 5%;
    padding-bottom: 5%;  
}

.left-block h3 {
    font-size:25px;
}

.list-style p {
    font-size:17px;
    margin: 0;
}

.list-style {
    display: -webkit-inline-box;
    margin: 10px 0;
}

.circle {
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    background-color: #e9467b;
    border-radius: 100px;
}

#step .slide-step-wrapper {
    padding-top: 5%;
    padding-bottom: 4%;
}

#step {
    background: url(../img/sfondo-instabooster-block.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.one-third {
    width: 29%;
    float: left;
    margin: 0 2%;
    box-sizing: border-box;
}

.one-third img {
    display: block;
    margin: 0 auto;
}

.one-third h3 {
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}

.one-third p {
    text-align: center;
    color:#fff;
}

#about .slide-about-wrapper {
    padding-top: 5%;
    padding-bottom: 4%;
}

#about p.subheading {
    text-align:center;
    font-size:17px;
    color:#000;
}

#about h2 {
    text-align: center;
    font-size: 41px;
    color: #000;
    margin: 0;
}

#about .one-third h3 {
    color:#e9467b;
    text-transform: uppercase;
}

#about .one-third p {
    color:#000;
}

.influencer {
    background-image: url(../img/influencer.png);
    background-position: -1px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border:2px solid #e9467b;
    border-radius: 100px;
    margin: 0 auto;
}

.separator {
    height: 50px;
}

.blogger {
    background-image: url(../img/blogger.png);
    background-position: -1px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border:2px solid #e9467b;
    border-radius: 100px;
    margin: 0 auto;
}

.aziende {
    background-image: url(../img/artista.png);
    background-position: -1px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border:2px solid #e9467b;
    border-radius: 100px;
    margin: 0 auto; 
}

.content {
    width:1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

#cta .slide-cta-wrapper  {
    padding-top: 3%;
    padding-bottom: 5%;
    text-align:center;
}

#cta {
    background: url(../img/sfondo-instabooster-block.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.separator-cta {
    height: 50px;
}

#cta h2 {
    font-size:42px;
    color:#fff;
    margin: 0;
}

strong.white {
   color:#fff!important;
   font-weight:800!important;
}

#number .slide-number-wrapper {
    padding-top: 3%;
    padding-bottom: 5%;
    text-align:center;
}

#number p.subheading {
    text-align:center;
    font-size:17px;
    color:#000;
}

#number .list-style {
    margin: 10px 0;
    display: -webkit-box;
}

#number .left-block {
    float:left;
    width: 100%;
    padding: 50px;
}

#number li {
    list-style: none;
    display: -webkit-inline-box;
    margin: 10px 0;
}

#number p {
    margin: 0;
}

#number ul {
    display: inline-grid;
}

#number .block ul li img {
    margin-right:10px;
}

#number .block {
    margin-top:20px;
}

#pricing {
    background-image: url(../img/sfondo-instaboost.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-size:cover;
    background-attachment: fixed;
}

#pricing .slide-pricing-wrapper {
    padding-top: 3%;
    padding-bottom: 7%;
}

.bg-white {
    background-color:#fff;
}

.padding {
    padding:30px;
}

.one-half {
    width: 42%;
    margin: 0 2%;
    float: left;
    box-sizing: border-box;
}

.layout-pricing {
    margin: 0 10px;
    float: left;
    box-sizing: border-box;
}

.padding-pricing {
    padding:35px;
}

.slick-slide img {
    display: unset!important;
}

.block ul {
    padding-left:0!important;
    margin:0!important;
}

.insta-green-button {
    padding:15px 30px;
    background-color: green;
}

#procing ul {
    display: inline-grid;
}

#pricing li {
    list-style: none;
    display: -webkit-inline-box;
    margin: 10px 0;
    width: 100%;
}

#pricing .block {
    margin-top:20px;
    height: 350px;
}

#pricing p {
    margin: 0;
}

#pricing .block ul li img {
    margin-right:10px;
}

#pricing h3 {
    font-size: 30px;
    color: #e9467b;
    text-transform: uppercase;
    margin:0;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px!important;
    color: #000!important;
}

.align-center {
    text-align:center;
}

.style-p {
    margin: 10px 0!important;
    font-size: 30px;
}

.insta-pricing-button {
    padding: 15px 50px;
    background-color: #e9467b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    width: 250px;
}

.margin-left {
    margin-left: 5%;
}

#pricing h2 {
    font-size: 36px;
    color:#fff;
}

.height {
    height: 95vh;
}

.pricing-separator {
    height: 44px;
}

#footer {
    color:#000;
    font-size: 12px;
    padding: 15px;
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

#footer p {
    margin:0;
    font-size:12px;
}

#footer a {
    color:#e9467b;
    text-decoration: none;
}
.margin-top {
    margin-top: 2%;
}

.little-text {
    font-size: 12px;
}

.margin-discount {
    margin: 10px!important;
}

.margin-bottom {
    margin-bottom: 15px!important;
}

.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 20px 40px 20px 20px;
    width: 100%;
    text-align: left;
    border-top: 1px solid black;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
}

.active, .accordion:hover {
  background-color: #f9f9f9;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.accordion:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: 2px solid #000;
    border-radius: 100px;
    width: 22px;
    height: 22px;
    text-align: center;
}

div.accordion.active:after {
  content: "\2212";
}

.button-pricing {
    margin-top: 80px;
}

.button-pricing-3 {
    margin-top: 22px;
}

.button-pricing-2 {
    margin-top: 99px;
}

#faq h2 {
    text-align: center;
}

#faq {
    padding-bottom: 70px;
}

.separator-slider {
    height:1px;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

p.adjust {
    margin: -10px 0px 20px 0px!important;
    color: #fff;
}

@media (max-width:320px) {
    
    a.insta-button-white {
        padding: 20px 65px;
    }
    
    #pricing .height {
        height: auto;
        padding: 20px!important;
    }
    
    #mainslide .slide-wrapper {
        padding-top: 10%!important;
    }
    
}

@media (min-width:321px) and (max-width:360px) {
    
}

@media (min-width:361px) and (max-width:375px) {
    
}

@media (min-width:376px) and (max-width:414px) {
    
}

@media (min-width:415px) and (max-width:767px) {
    
}

@media (max-width:767px) {
    
    br {
        display: none;
    }
    
    .footer-inner {
        flex-direction: column-reverse!important;
    }
    
    .social {
        margin: 5px 0px;
    }

    div.line-mobile:after {
        margin-top: -13px;
        margin-right: -20px;
    }

    div.line-mobile2:after {
        margin-top: -2px;
        margin-right: -20px;
    }
    
    br.tablet {
        display:block!important;
    }
    
    .slick-prev:before, .slick-next:before {
        font-size: 35px!important;
        color: #000!important;
    }
    
    .slick-prev {
        left: -10px!important;
        z-index: 9999;
    }
    
    .slick-next {
        right: 6px!important;
    }
    
    #logo img.logo-white {
        width: 120px;
    }
    
    .content {
        width: 95%!important;
        box-sizing: border-box;
    }
    
    #nav ul {
        margin: 0;
        padding: 0;
    }
    
    #nav li {
        margin-top: 7px;
        padding: 0;
    }
    
    #nav ul li a{
        padding: 10px;
    }
    
    .margin-scroll-menu {
        margin-top: 9px!important;
        margin-right: 5px!important;
    }
    
    .padding-scroll-menu {
        padding: 10px!important;
    }
    
    #mainslide .slide-wrapper {
        padding-top: 40%;
        display: grid;
    }
    
    .insta-button {
        margin: 40px auto;
        text-align: center;
        width:300px;
    }
    
    #description {
        background-size: 40%;
    }
    
    .left-block {
        float: left;
        width: 65%;
        padding: 0 1%;
    }
    
    .one-third {
        width: 100%;
        float: none;
        margin: 10% 0;
    }
    
    .separator {
        height: 0;
    }
    
    #cta .slide-cta-wrapper {
        padding-top: 10%;
        padding-bottom: 20%;
    }
    
    #number {
        padding:5%;
    }
    
    #number .block {
        margin-top: 20px;
        width: 90%;
        text-align: left;
    }
    
    #number ul {
        display: inline-grid;
        padding: 0;
    }
    
    .one-half {
        width: 100%;
        margin: 0;
        float: none;
        margin-bottom: 20px;
    }
    
    #pricing .block ul {
        padding-left: 5%;
    }
    
    #pricing .padding {
        padding: 1px;
    }
       
    .insta-pricing-button {
        width: 230px;
    }
    
    #footer {
        padding: 10px 15px;
    }
    
    #pricing li {
        width: 90%;
    }

    .pricing-separator {
        display: none;
    }
    
}

@media (min-width:768px) and (max-width:990px) {
    
    br {
        display: none;
    }
    
    br.tablet {
        display:block!important;
    }
    
    .slick-prev {
        left: -20px!important;
        z-index: 9999!important;
    }
    
    .slick-next {
        right: 0px!important;
        z-index: 9999!important;
    }
    
    .slick-prev:before, .slick-next:before {
        font-size: 40px!important;
    }
    
    .content {
        width: 95%!important;
        box-sizing: border-box;
    }
    
    #logo img {
        width:100px;
    }
    
    #nav ul {
        margin: 0;
        padding: 0;
    }
    
    #nav li {
        margin-top: 7px;
        padding: 0;
    }
    
    #nav ul li a{
        padding: 10px;
    }
    
    .margin-scroll-menu {
        margin-top: 9px!important;
        margin-right: 20px!important;
    }
    
    .padding-scroll-menu {
        padding: 10px!important;
    }
    
    #mainslide .slide-wrapper {
        padding: 45% 0px;
    }
    
    .insta-button {
        margin: 40px auto;
        text-align: center;
    }
    
    #description {
        background-size: 40%;
    }
    
    .left-block {
        float: left;
        width: 60%;
        padding: 0 5%;
    }
    
    .one-third {
        width: 33%;
        float: left;
        margin: 5% 0;
        padding: 2%;
    }
    
    #step .one-third img {
        width: 40%;
    }
    
    .one-third img {
        width: 100%;
    }
    
    .separator {
        height: 0;
    }
    
    #cta .slide-cta-wrapper {
        padding-bottom: 12%;
        padding-top: 7%;
    }
    
    #number .block {
        margin-top: 20px;
        width: 90%;
        text-align: left;
    }
    
    #number ul {
        display: inline-grid;
        padding: 0;
    }
    
    .one-half {
        width: 48%;
        margin: 6px;
        float: left;
        margin-bottom: 20px;
    }
    
    #pricing .block ul {
        padding-left: 5%;
    }
    
    #pricing .padding {
        padding: 1px;
    }
       
    .insta-pricing-button {
        width: 95%;
    }
    
    .pricing-separator {
        height: 58px;
    }
    
    #footer {
        padding: 2%;
    }
    
    #pricing li {
        width: 90%;
    }
    
}

@media (min-width:1000px) and (max-width:1024px) {
    
    .content {
        width:90%;
    }
    
    br {
        display:none;
    }
    
    .separator {
        height: 40px;
    }
    
    #mainslide .slide-wrapper {
        padding: 44% 0px;
        display: grid;
        vertical-align: middle;
    }
    
    .slick-prev:before, .slick-next:before {
        font-size: 40px!important;
    }
    
    .slick-prev, .slick-next {
        z-index:9999;
    }
    
    .slick-prev {
        left: -33px!important;
    } 
    
    .slick-next {
        right: -15px!important;
    }
}