@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

/*global*/

* {
    box-sizing: border-box;
}

.content {
    width:1200px;
    margin: 0 auto;
}

h1, h2, h3, p, span, a {
    font-family: 'Montserrat', sans-serif;
    font-weight:400!important;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none
}

.bold {
    font-weight:700!important;
}

#footer {
    color:#000;
    font-size: 12px;
    padding: 15px;
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

#footer a {
    color:#e9467b;
    text-decoration: none;
}

#footer p {
    font-size:12px;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}